<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377819613327-8tup2r3001b7k4u67tr1vcclkvq9rf0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377819613327-8tup2r3001b7k4u67tr1vcclkvq9rf0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWBFyzGtVmj5Tb0EmfvBUEtrIj6xCmn4</string>
	<key>GCM_SENDER_ID</key>
	<string>377819613327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>None</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-b0fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-b0fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377819613327:ios:1aa750021fbc9c2010c8fa</string>
</dict>
</plist>